/* styles for the table */
table {
    border: 0.2em solid #000000;
    margin-left: 10%;
    margin-right: 5%;
    width: 65%;
    float: left;
    margin-top: 4em;
    border-collapse: collapse;
}

/* styles for the th and td */
th, td {
    border: 0.1em solid #000000;
    padding: 1em;
}

/* styles for the th */
th {
    background-color: #1d1d1c;
    color: #ffffff;
}

/* styles for caption */
caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

aside{
    width: 20%;
    float: left;
    margin-top: 3em;
}

.experience{
    text-align: center;
    width: 65%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 3em;
    margin-bottom: 3em;
    float: left
}

.experience h2{
    text-align: left;
}

.institute{
    float: left;
    margin-right: 4em;
    margin-bottom: 5em;
    text-align: left;
    width: 9em;
}

.course{
    text-align: justify;
    margin-bottom: 3em;
}

.experienceAside{
    margin-top: 24em;
}

.contactForm{
    width: 65%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 3em;
    margin-bottom: 3em;
    float: left;
    font-family: 'Open Sans', sans-serif !important;
}

.contactForm h1{
    text-align: center;
}

.contactForm hr{
    margin-bottom: 3em;
}


.contactForm input, .contactForm select{
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width:20em
}

.firstLabel{
    float: left;
    margin-right: 2em;
}

textarea{
    width: 43em;
    height: 10em;
}

.contactAside{
    margin-top: 8em;
}

