header {
    background-color: #137568;
    padding-top: 2em;
    padding-bottom: 8.3em;
    padding-left:2em
  }

header a {
    float: left;
    padding-right: 2em;
}

header a img{
border-radius: 1.5em
}

header p{
    font-family: "Copperplate";
    font-size: 2em;
    color: white;
}

footer h2{
    text-align: center;
    font-size: 3em;
    color: white;
    padding-top: 1.2em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
    color: white;
}

footer ul li{
    display:  inline-block;
    width: 20%;
    padding-left: 1em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

ul{
    list-style-type: none;
    padding-left: 12em;
}

#contact{
    background-color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    padding-bottom: 1.2em;
}

nav {
    clear: left;
}