header {
    background-color: #434242;
    background-image:
    linear-gradient(
      to right, 
      #000000, #434242
    );
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left:2em
  }

header a {
    float: left;
    padding-right: 2em;
}

header a img{
border-radius: 1.5em
}

.quote p{
    font-family: 'Verdana', sans-serif;
    font-size: 2em;
    color: white;
}

header div{
    padding-top: 2em;
}

footer h2{
    text-align: center;
    font-size: 3em;
    color: white;
    padding-top: 1.2em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
    color: white;
}

footer ul li{
    display:  inline-block;
    width: 20%;
    padding-left: 1em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

ul{
    list-style-type: none;
}

.contact{
    background-color: #434242;
    background-image:
    linear-gradient(
      to right, 
      #000000, #434242
    );
    font-family: 'Open Sans', sans-serif !important;
    padding-bottom: 1.2em;
    clear : left;
}

.contact p {
    padding-top: 3em;
}

.roundImage{
    border-radius: 50%;
}

nav {
    clear: left;
}

body{
    background-color: whitesmoke;
}

main h1, main h2{
    color: #137568;
    font-weight: 300;
}

main h1{
    font-size: 50px;
}

main h2{
    font-size: 32px;
}

.profile{
    text-align: center;
    width: 65%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 3em;
    margin-bottom: 3em;
    float: left;
    font-family: 'Open Sans', sans-serif !important;
}

.aboutMe{
    width: 30%;
    float: left;
    margin-top: 1em;
    text-align: justify;
}

.picture{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 3em;
}

.details{
    width: 20%;
    float: left;
    margin-top: 1em;
    margin-left: 5%;
    text-align:justify;
}

.resume{
    clear: left;
    margin-left: 5em;
}

.connect{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

aside{
    width: 20%;
    float: left;
    margin-top: 6em;
}

aside li{
    height: 4em;
    width: 10em;
    background-color: #101010;
    text-align: center;
    padding-top: 2em;
}

aside a{
    color: white;
    text-decoration: none;
}